@mixin thmGradientOne {
    background-image: linear-gradient(-90deg, #065c44 0%, #580a25 100%);
}
@mixin thmGradientTwo {
    background-image: linear-gradient(90deg, #580a25 0%, #065c44 100%);
}

@mixin thmGradientBtnOne {
    background-image: linear-gradient(-90deg, #580a25 0%, #065c44 51%, #580a25 100%);
}
@mixin thmGradientBtnTwo {
    background-image: linear-gradient(90deg, #065c44 0%, #580a25 51%, #065c44 100%);
}
@mixin thmGradientBtnOneReverse {
    background-image: linear-gradient(-90deg, #580a25 0%, #0a6ad6 51%, #580a25 100%);
}