:root {
    --thm-font: 'Barlow', sans-serif;
    --heading-font: 'Amatic SC';
    --thm-base: #065c44;
    --thm-base-rgb: 12, 117, 216;
    --thm-primary: #b640ff;
    --thm-primary-rgb: 255, 210, 64;
    --thm-black: #936868;
    --thm-black-rgb: 10, 28, 79;
    --thm-gray: #f3f5f9;
    --thm-gray2: #f2f4f8;
    --thm-text: #8c8495;
}